a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown', role='button')
  i.material-icons notifications
  span.label-count 7
ul.dropdown-menu
  li.header NOTIFICATIONS
  li.body
    ul.menu
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-light-green
            i.material-icons person_add
          .menu-info
            h4 12 new members joined
            p
              i.material-icons access_time
              |  14 mins ago
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-cyan
            i.material-icons add_shopping_cart
          .menu-info
            h4 4 sales made
            p
              i.material-icons access_time
              |  22 mins ago
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-red
            i.material-icons delete_forever
          .menu-info
            h4
              b Nancy Doe
              |  deleted account
            p
              i.material-icons access_time
              |  3 hours ago
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-orange
            i.material-icons mode_edit
          .menu-info
            h4
              b Nancy
              |  changed name
            p
              i.material-icons access_time
              |  2 hours ago
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-blue-grey
            i.material-icons comment
          .menu-info
            h4
              b John
              |  commented your post
            p
              i.material-icons access_time
              |  4 hours ago
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-light-green
            i.material-icons cached
          .menu-info
            h4
              b John
              |  updated status
            p
              i.material-icons access_time
              |  3 hours ago
      li
        a(href='javascript:void(0);')
          .icon-circle.bg-purple
            i.material-icons settings
          .menu-info
            h4 Settings updated
            p
              i.material-icons access_time
              |  Yesterday
  li.footer
    a(href='javascript:void(0);') View All Notifications